h1,h2,h3,h4,h5{
    text-align: center;
}
.centerbuttons{
    position: relative;
    left:33%;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

div.col-lg-6{
    position: relative;
    left: 25%
}

div.nav{
    position: relative;
    top: 0px;
    right: 5px;
}

div.profilenav{
    position: relative;
    right: 35%;
}

div.albums{
    position: relative;
    right: 35%;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    padding-bottom: 2%;
}

div.caption{
    position: relative;
    left: 38%
}