h1,h2,h3,h4,h5{
    text-align: center;
}
.centerbuttons{
    position: relative;
    left:33%;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}



div.col-lg-6{
    position: relative;
    left: 25%
}

#nav {

}
#nav ul{
    position:fixed;
    top:0;
    width:100%;
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:#333;
}
#nav li{
    float:left;
}
#nav li a{
    display:block;
    color:white;
    text-align:center;
    padding: 14px 16px;
    text-decoration:none;
}
#nav li a:focus,li a:hover {

    background-color: #111;
}
div.profilenav{
    position: relative;
    right: 35%;
}

div.albums{
    position: relative;
    right: 35%;
    text-align: center;
}

img {
    display: block;
    margin: 1px auto;
    padding-bottom: 2%;
}

div.caption{
    position: relative;
    left: 28%
}



#nav li a:focus{
    background-color: #111;
}


/*css for comments*/
#comment{

}

#comment.scroll {
    background-color: rgb(186, 186, 186);
    width: 400px;
    height: 250px
    ;
    overflow: scroll;
}
div.comment{

}
