h1,h2,h3,h4,h5{
    text-align: center;
}
.centerbuttons{
    position: relative;
    left:33%;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

ul{
    position: relative;
    left: 35%;
    padding: 3%;
}
li{
    text-align: center;
    list-style-type: none;
}

div.col-lg-6{
    position: relative;
    left: 25%
}

div.nav{
    position: relative;
    top: 0px;
    right: 5px;
}

div.profilenav{
    position: relative;
    right: 35%;
}

div.albums{
    position: relative;
    right: 35%;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    padding-bottom: 2%;

}