

<!doctype html>
<head>
    <!--bootstrap-->
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<title> Photoshare</title>
<h1>Welcome To Photoshare!</h1>
<h2> Login or create an account to begin</h2>

<div class="centerbuttons">
    <a href='/login' class="btn btn-info" role="button">Login</a>
    <a href='/register' class="btn btn-info" role="button">Create Account</a>
</div>


