<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>

#nav {

}
#nav ul{
{#    position:fixed;#}
    width: 70%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    left: 178px;
#nav li{
    float:left;
}
#nav li a{
    display:block;
    color:white;
    text-align:center;
    padding: 14px 16px;
    text-decoration:none;
}
#nav li a:focus,li a:hover {

    background-color: #111;
}
    </style>
</head>
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}

<h3>
{% if not supress %}
<a href='/upload'>Upload Photo?</a>
{% endif %}
</h3>

<ul>
	<form method="post" action="/new_album">
		<label for="album">Album name:</label>
		<input type="text" name="album_title"><br>
		<input type="submit" value="Create Album" /><br>
	</form>
</ul>
{#<div id="nav">#}
{#    <ul>#}
{#<li><a href='/'>Home</a></li>#}
{#<li><a href='/profile'>Profile</a></li>#}
{#<li><a href='/logout'>Logout</a></li>#}
{#    </ul>#}
{#</div>#}
<div id="nav">
    <ul>
        <li><a href='/profile'>Profile</a></li>
        <li><a href='/new_album'>Create new album</a></li>
        <li><a href='/upload'>Upload a photo</a></li>
        <li><a href='/search'>Search Users</a></li>
        <li><a href='/searchcomments'>Search Comments</a></li>
        <li><a href='/searchtags'>Search Tags</a></li>
        <li><a href='/browse' >Browse</a></li>

        <li><a href='/logout'>Logout</a></li>
    </ul>
</div>