<!-- author ben lawson (balawson@bu.edu) -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!--<link rel="stylesheet" href="https://github.com/kaylaipp/PhotoShare/blob/master/templates/pastylesheet.css">
        -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>

<title>Welcome To Your Profile</title>
<h1>Welcome To Your Profile, {{ firstname }}!</h1>

{% if message  %}
  <p>{{ message }}</p>
{% endif %}

{% if numberfriends %}
{#    <li><a href="/allfriends"> {{ numberfriends }} </a>friends</li>#}
    <li><a href="/friends"> {{ numberfriends }} </a>friends</li>
{% endif %}

{%  if albumname %}
<h3>Your Albums</h3>
    <div class = "albums">
    <ul>
        {% for album in albumname %}
            <form method="POST" action="{{ url_for('view_album') }}">
            <li><input type="submit" name="album" value="{{ album }}"> </li>
            </form>

        {% endfor %}
    </ul>
    </div>
{%  endif  %}


{% if photopath %}
    {% for photo in photopath %}
      <img src={{ photo }}>
    {% endfor %}
{% endif %}


{#{% if photos %}#}
{#<h2>Your photos</h2>#}
{#    <ul>#}
{#    {% for photo in photos %}#}
{#        <li>{{photo[2]}}<br>#}
{#        <li><img src='data:image/png;base64, {{photo[0]}}'/></li>#}
{#    {% endfor %}#}
{#    </ul>#}
{#{% endif %}#}
{% if photos %}
<h2>Here's your photos</h2>
   <ul>
   {% for photo in photos %}
{#       <li><a href = '/albums?photo_id={{photo[2]}}'>caption: {{photo[1]}} photo id: {{photo[2]}}</a></li>#}
       <li><img src='data:image/png;base64, {{photo[0]}}'/></li>
   {% endfor %}
   </ul>
{% endif %}

{% if tags %}
<h3> Here are the top 5 tags </h3>
     {% for t in tags %}
{#         <form method="post" action="{{ url_for('tagged_photos') }}">#}
{#            <button class="button" name="tag_word" type="submit" value={{t[2]}}>#{{t[2]}}</button>#}
{#         </form>#}
         <li><a href="/showphotos"> {{ t }} </a></li>

     {% endfor %}
{% endif %}

{% if message is none %}
  <p>You should <a href='/login'>login!</a></p>
{% endif %}

<div class = 'profilenav'>
    <ul>
    <li><a href='/new_album'>Create new album</a></li>
{#    <li><a href='/view_album'>View albums</a></li>#}
    <li><a href='/upload'>Upload a photo</a></li>
    <li><a href='/search'>Search For Friends</a></li>
    <li><a href='/logout'>Logout</a></li>
    <li><a href='/'>Home</a></li>
    </ul>
</div>

</body>
