<!-- author ben lawson (balawson@bu.edu) -->
<!doctype html>
<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!--<link rel="stylesheet" href="https://github.com/kaylaipp/PhotoShare/blob/master/templates/pastylesheet.css">
        -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>

<title>Welcome To Your Profile</title>
<h1>Welcome To Your Profile, {{ firstname }}!</h1>


{%  if albums %}
<h2>Your Albums</h2>
    <ul>
    {% for album in albums %}

        <div id="select_album">
            <form method="post" action="{{ url_for('create_album') }}">
                <label for="album">{{ album }}</label>
                <input type="button" album= "View Album"/><br/>
            </form>
        </div>

    {% endfor %}
    </ul>
{%  endif  %}

{% if photos %}
<h2>Your photos</h2>
    <ul>
    {% for photo in photos %}

        <li>{{photo[2]}}<br>
        <img src='data:image/png;base64, {{photo[0]}}'/></li>
    {% endfor %}
    </ul>
{% endif %}

{% if message is none %}
  <p>You should <a href='/login'>login!</a></p>
{% endif %}









    <ul>
        <li><a href='/new_album'>Create new album</a></li>
        <li><a href='/upload'>Upload a photo</a> </li>
        <li><a href='/logout'>Logout</a>
        <li><a href='/'>Home</a></li>
    </ul>
</body>
