<!-- author ben lawson (balawson@bu.edu) -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!--<link rel="stylesheet" href="https://github.com/kaylaipp/PhotoShare/blob/master/templates/pastylesheet.css">
        -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>

<title>Welcome To Your Profile</title>
<h1>Welcome To Your Profile, {{ firstname }}!</h1>

{% if message  %}
  <p>{{ message }}</p>
{% endif %}

{%  if albums %}
<h2>Your Albums</h2>
    <div class = "albums">
    <ul>
{#    {% for album in albums %}#}
        {% for album in albumname %}
{#        <div id="select_album">#}
{#            <form method="post" action="{{ url_for('view_album') }}">#}
{#                <input type="submit" value = {{ album }} name="view_album"/><br/>#}
{#            </form>#}
{#        </div>#}
{#        <li><a href="/open/{{album[1]}}">{{album[1]}}</a><br>#}
{#	    </li>#}
{#        <li><{{ album }}</li>#}

            <li><a href="/view_album"> {{ album }} </a></li>
    {% endfor %}
    </ul>
    </div>
{%  endif  %}

{% if numberfriends %}
    <li><a href="/allfriends"> {{ numberfriends }} </a>friends</li>
{% endif %}

{% if photopath %}
    {# causing photos not to appear for some reason?  #}
      <img src={{ photopath }}>
    {# for testing, but following line also doens't work  #}
{#     <img src="../uploads/img2.png"> #}
{% endif %}

{% if photos %}
<h2>Your photos</h2>
    <ul>
    {% for photo in photos %}
{#        <li>{{photo[2]}}<br>#}
        <li><img src='data:image/png;base64, {{photo[0]}}'/></li>
    {% endfor %}
    </ul>
{% endif %}

{% if message is none %}
  <p>You should <a href='/login'>login!</a></p>
{% endif %}

<div class = 'profilenav'>
    <ul>
    <li><a href='/new_album'>Create new album</a></li>
{#    <li><a href='/view_album'>View albums</a></li>#}
    <li><a href='/upload'>Upload a photo</a></li>
    <li><a href='/search'>Search For Friends</a></li>
    <li><a href='/logout'>Logout</a></li>
    <li><a href='/'>Home</a></li>
    </ul>
</div>

</body>
