<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<meta charset="UTF-8">
    <title>Search</title>

<body>
    <h1>Search</h1>
    <h4>search for users and friends</h4>
      <div class="col-lg-6">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">Search!</button>
          </span>
        </div>
      </div>
    <div class="nav">
        <a href='/'>Home</a>
        <a href='/profile'>Profile</a>
        <a href='/logout'>Logout</a>
    </div>
</body>

