<!DOCTYPE html>
<!-- author ben lawson (balawson@bu.edu) -->
<html lang = en>
<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Upload a photo!</title>
    <style>

#nav {

}
#nav ul{
    width: 70%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    left: 178px;
}
#nav li{
    float:left;
}
#nav li a{
    display:block;
    color:white;
    text-align:center;
    padding: 14px 16px;
    text-decoration:none;
}
#nav li a:focus,li a:hover {

    background-color: #111;
}
    </style>
</head>

    <body>
        <div class="title">
            <h1>Upload a photo to Photoshare</h1>
        </div>
            <form method="post" enctype="multipart/form-data" action="/upload">

                <label for="photo">Select photo:</label>
                <input type="file" name="photo" required /><br />
                <label for="caption">Please caption:</label>
                <input type="text" name="caption"  /><br />
                <label for="tags">Tags:</label>
                <input type="text" name="tags"  /><br />


                <label for="album">Choose Album to upload into: </label>
                <select id="album" name="album">
                     <option value="Unsorted">Decide Later</option>
                {% if albumname %}
                    {%  for album in albumname %}
                        {% if album != 'Unsorted' %}
                    <option value="{{ album }}">{{ album }}</option>
                        {% endif %}
                    {%  endfor %}

                {% endif %}
                </select>

                <br />
                <input type="submit" value="Upload" />

            </form>
{#       <div id = "nav">#}
{#           <ul>#}
{#        <li><a href='/profile'>Home</a></li>#}
{#        <li><a href='/browse' >Browse</a></li>#}
{#        </ul>#}
{#        </div>#}
    <div id="nav">
    <ul>
        <li><a href='/profile'>Profile</a></li>
        <li><a href='/new_album'>Create new album</a></li>
        <li><a href='/upload'>Upload a photo</a></li>
        <li><a href='/search'>Search Users</a></li>
        <li><a href='/searchcomments'>Search Comments</a></li>
        <li><a href='/searchtags'>Search Tags</a></li>
        <li><a href='/browse' >Browse</a></li>

        <li><a href='/logout'>Logout</a></li>
    </ul>
</div>
    </body>
</html>