<!-- author ben lawson (balawson@bu.edu) -->
<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Upload a photo!</title>
</head>
    <div class = 'nav'>
        <li><a href='/profile'>Home</a></li>
    </div>
    <body>
        <div class="title">
            <h1>Upload a photo to Photoshare</h1>
        </div>
            <form method="post" enctype="multipart/form-data" action="/upload">

                <label for="photo">Select photo:</label>
                <input type="file" name="photo" required /><br />
                <label for="caption">Please caption:</label>
                <input type="text" name="caption"  /><br />
                <label for="tags">Tags:</label>
                <input type="text" name="tag"  /><br />


                Choose album upload into: <select name="album">
                     <option value="unsorted">Decide Later</option>
                {% if albumname %}
                    {%  for album in albumname %}
                    <option value="{{ album }}">{{ album }}</option>
                    {%  endfor %}

                {% endif %}
                </select>

                <br />
                <input type="submit" value="Upload" />

            </form>
    </body>