<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>View Album</title>

</head>
<body>
    <h1>{{ album }}</h1>

    {% if album %}
        {% for eachalbum in album %}
        <li><a href="/view_album/{{user[0]}}"> {{album[1] + ' ' + album[2]}} </a></li>
        {% endfor %}
    {% endif %}


    {% if photos %}
    {# causing photos not to appear for some reason?  #}
      <img src={{ photopath }}>
    {# for testing, but following line also doens't work  #}
{#     <img src="../uploads/img2.png"> #}
{% endif %}

    <div class="nav">
        <a href='/search'>Search</a>
        <a href='/profile'>Profile</a>
        <a href='/logout'>Logout</a>
    </div>
</body>
</html>