<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" href="https://raw.githubusercontent.com/kaylaipp/PhotoShare/master/templates/pastylesheet.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>View Album</title>

<style>

#nav {

}
#nav ul{
    position:fixed;
    top:0;
    width:100%;
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:#333;
}
#nav li{
    float:left;
}
#nav li a{
    display:block;
    color:white;
    text-align:center;
    padding: 14px 16px;
    text-decoration:none;
}
#nav li a:focus,li a:hover {

    background-color: #111;
}


#bottom {
    position:fixed;
    bottom:0;
}
</style>

</head>
<body>



  <h1>{{ album }}</h1>
{% if message  %}
  <h3>{{ message }}</h3>
{% endif %}



{% if photopath %}
    {% for photo in photopath %}


        <figure>
        <figcaption>Caption: {{ photo[2] }}</figcaption>
        </figure>
        <img src="../static/uploads/{{ photo[0] }}"><br>

        <form method="post" action="{{ url_for('view_album',album=album,picture=photo[1] )}}">
        <label for="comment">Add comment:
        <input type="text" name="comment"/></label><input type="submit" /><br/>
        </form>
        <a href='/deletepicture/{{ album }}/{{photo[1]}}'>Delete Picture</a>


    {% endfor %}
{% endif %}
  <div id="nav">
   <ul>
        <li><a href='/profile'>Profile</a></li>
        <li><a href='/search'>Search</a></li>
        <li><a href='/logout'>Logout</a></li>
       {% if  album  != "Unsorted" %}
        <li><a href='/deletealbum/{{album}}'>Delete Album</a></li>
        {% endif %}
    </ul>
      </div>



</body>
</html>