<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>View Album</title>

</head>
<body>
{% if message  %}
  <h1>{{ message }}</h1>
{% endif %}
    <h1>{{ album }}</h1>
    <a href='/deletealbum/{{album}}'>Delete Album</a>


{% if photopath %}
    {% for photo in photopath %}

        <img src="../static/uploads/{{ photo[0] }}">
        <figure>
        <figcaption>Caption: {{ photo[2] }}</figcaption>
        </figure>

    {% endfor %}
{% endif %}

    <div class="nav">
        <a href='/search'>Search</a>
        <a href='/profile'>Profile</a>
        <a href='/logout'>Logout</a>
    </div>
</body>
</html>